 <div class="container-fluid outerdiv">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="">
            <a class="navbar-brand" href="#/lines"><b></b> <span class="span-style">Transport App</span></a>
          </div>
           <a ng-click="help()" class="navbar-brand pull-right animated bounce" ><i class="question-icon glyphicon glyphicon-question-sign"></i></a>
           <div ng-if="showCalendar == 1"><a  href="#/route" class="navbar-brand pull-right"><i class="question-icon glyphicon glyphicon-road"></i></a></div>
           <a class="navbar-brand pull-right" href="#/lines"><i class="question-icon glyphicon glyphicon-arrow-left"></i></a>


        </div>
      </nav>

      <noscript>
 <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>