<div>
 Hello, welcome to the Transport APP, where you can find bus lines, bus schedules and their routes informing the street you want to go.
 <br/>
 <br/>
 For that you need to add the street you are looking for.</br>We have two ways of doing that, first one you can write manually in the input and click search, the second one but not less important
 selecting the street destiny in our map. </br> Click in the button with this icon <i class="glyphicon glyphicon-map-marker"></i> after that select the street you want,
 but take care, so you don't select the wrong street.
 </br>
 </br>
 After that you can select the bus line you want, the next page shows you the bus schedule and when you are inside this page a new icon with this symbol  <i class="glyphicon glyphicon-road"></i> will appear, pressing it, will redirect you to the routes page where you can take a look at the bus route.
 </br>
 </br>
 obs: all lines leave Ticen.
</div>